{{!-- Extends the main layout --}}
{{#extends 'layouts/main'}}
  {{#content 'body'}}
    <h1>Welcome to the Event Management System</h1>
    <p>Manage and RSVP to events seamlessly.</p>
  {{/content}}
{{/extends}}
